.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Ajoutez ces styles dans votre fichier CSS ou un fichier séparé */

/* Style général pour la barre latérale */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 230px;
  padding-top: 15px;
  background-color: #f8f9fa; /* Couleur de fond */
  border-right: 1px solid #dee2e6; /* Bordure droite */
}

/* Style pour les liens dans la barre latérale */
.sidebar a {
  padding: 10px;
  text-decoration: none;
  color: #495057; /* Couleur du texte */
  transition: background-color 0.3s;
}

/* Style pour les liens actifs dans la barre latérale */
.sidebar a.active {
  background-color: #007bff; /* Couleur de fond pour le lien actif */
  color: #fff; /* Couleur du texte pour le lien actif */
}

/* Style pour les liens au survol dans la barre latérale */
.sidebar a:hover {
  background-color: rgb(155, 178, 222); /* Couleur de fond au survol */
}

/* Style pour le contenu principal à droite de la barre latérale */
.main-content {
  margin-left: 230px; /* Largeur de la barre latérale */
  padding: 15px;
}

/* Style pour le bouton de bascule de la barre latérale sur les petits écrans */
.navbar-toggler {
  background-color: #007bff; /* Couleur du bouton de bascule */
}

/* Style pour l'icône du bouton de bascule */
.navbar-toggler-icon {
  background-color: #fff; /* Couleur de l'icône du bouton de bascule */
}

/* Style pour le lien du bouton de bascule sur les petits écrans */
.navbar-toggler:focus {
  outline: none; /* Supprime la bordure de focus */
}

p{
  margin-left: 350px;
  margin-top: 100px;
}

